.ytVideo
{
    width:370px;
    height:208px; 
    padding: 40px;
}

.overlayVid
{
    width:1110px;
    height:624px; 
    padding: 40px;
}

.videopage{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}